---
layout: default
title: Work
permalink: /work/
---

<section id="work" class="masthead">
  {% include masthead.html %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Work</h1>
      </div>
    </div>
  </div>
</section>

<section id="about-my-work">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>I've been working on...</h2>
        <p>Here are some of my recent projects. For even more samples of my work, check me out on
        	<a href="https://github.com/{{ site.github }}" target="_blank" title="Github">Github</a>.</p>
      </div>
    </div>
  </div>
</section>


{% for project in site.data.projects %}

<section id="project{{ forloop.index }}" class="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      	{% if project.image %}
	<div class="project-image">
	  <img src="{{ project.image }}" alt="{{ project.name }}" class="img-responsive img-rounded center-block" />
	</div>
	{% endif %}
	<div class="project-info">
	  <h2>{{ project.name }}</h2>
	  <p>{{ project.tags }}</p>
	  <p>{{ project.description }}</p>
	  <p><a href="{{ project.link }}" title="View {{ project.name }}" class="btn btn-primary">View {{ project.name }}</a></p>
	</div>
      </div>
    </div>
  </div>
</section>


{% endfor %}
