<footer role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-lg-4 col-lg-offset-2 footer-nav hidden-xs text-left">
        <ul class="list-inline">
          <li><a href="/" name="about">About</a></li>
          <!--<li><a href="/work" name="work">Work</a></li>-->
          <li><a href="mailto:{{ site.email }}" name="hire">Hire</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-lg-4 footer-social text-right">

        <ul class="list-inline">
            <li>
              <a href="https://github.com/{{ site.github }}" target="_blank" title="Github">
                <i class="mdi mdi-github-circle" aria-hidden="true"></i>
              </a>
            <li>
            <li>
              <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" title="LinkedIn">
                <i class="mdi mdi-linkedin" aria-hidden="true"></i>
              </a>
            <li>
            <li>
              <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" title="StackOverflow">
                <i class="mdi mdi-stackoverflow" aria-hidden="true"></i>
              </a>
            <li>  
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="copy">
          &copy; 2016 <a href="/" name="home">{{ site.title }}</a>.
          Inspired by <a href="http://seanhalpin.io/" title="Sean Halpin" target="_blank">Sean Halpin</a>.
          Vector images adapted from <a href="http://www.freepik.com/" target="blank">Freepik</a>.

        </p>
      </div>
    </div>
  </div>
</footer>
