<div id="scrolltop">
  <svg viewBox="0 0 24 24">
    <path d="M12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M17,14L12,9L7,14H17Z" />
  </svg>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/blazy.min.js"></script>
<script src="/js/scripts.js"></script>

<script>
$(function() {
  $('.header-nav a[href="{{ page.url }}"]').addClass('active');
});
</script>

<script id="dsq-count-scr" src="//marytt.disqus.com/count.js" async></script>
